html {
	font-size: $rem-base;
}

header {
	a {
		&:hover {
			color: $secondary;
		}
	}

	* {
		color: $white;
	}
}

.navbar-brand {
	font-weight: 400;
}

a {
	transition: color 0.3s ease-in-out;
}

.bg-gradient {
	background: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
}

.table {
	td {
		vertical-align: middle;
	}
}

.card-img-top {
	width: 100%;
	height: 250px;
	padding: 15px 10px;
	border-bottom: 1px solid $gray-400;

	div {
		width: 100%;
		height: 100%;
		background-size: contain;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		transition: transform 0.3s ease-in-out;
	}

	&:hover {
		div {
			transform: scale(1.1);
		}
	}
}

.pagination {
	display: flex;
	justify-content: center;
	padding-top: 40px;
	margin: 0;
}

.page-link {
	color: $black;
	padding: 10px 15px;
	font-size: 20px;
}

.page-item.active .page-link {
	background: $primary;
}

.product-screen--product-img {
	width: 100%;
	height: 60vh;
	padding: 30px;

	div {
		width: 100%;
		height: 100%;
		background-size: contain;
		background-position: 50% 50%;
		background-repeat: no-repeat;
	}
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
	border: 1px solid $black;
}
