main {
	min-height: calc(100vh - 104px);
}

.rating span {
	margin: 0.1rem;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
	display: flex;
}
.carousel-caption {
	position: absolute;
	top: 0;
}

.carousel-caption h2 {
	color: #fff;
}

.top-products-carousel--img {
	width: 300px;
	height: 300px;
	max-width: 300px;
	margin: 60px 0;
	border-radius: 100%;
	background: white;
	padding: 50px;
}

.top-products-carousel--img div {
	height: 100%;
	width: 100%;
	background-size: contain;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.carousel a {
	margin: 0 auto;
}
@media (max-width: 900px) {
	.carousel-caption h2 {
		font-size: 2.5vw;
	}
}
